{% extends "layout.njk" %}

{% block title %}
  <title>{{ mod.name }} - Sons of the Forest Mods</title>
{% endblock %}

{% block meta %}
  <meta content="{{ mod.name }}" property="og:title">
  <meta content="{{ mod.shortDescription }}" property="og:description">
  <meta content="{{ mod.imageUrl or 'https://files.sotf-mods.com/download/1722086199054_lowergraphicstool222_thumbnail.png' }}" property="og:image">
  <link type="application/json+oembed" href="https://sotf-mods.com/mods/{{ mod.user.slug }}/{{ mod.slug }}.json">
  <link rel="stylesheet" href="/static/css/mod.css">
  <link rel="stylesheet" href="/static/css/description.css">
{% endblock %}
{% block body %}
  <div class="top-spacer"></div>
  <div class="wrapper m-4">
    <div class="flex justify-center mt-8">
      <p class="text-5xl" style="overflow-wrap: anywhere;">{{ mod.name }}</p>
    </div>
    <div class="flex justify-center mb-8">
      <p class="text-base">{{ _("by") }}
        <a class="text-accent" href="/profile/{{ mod.user.slug }}">{{ mod.user.name }}</a>
      </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="mod-info m-4">
        <img class="mod-logo {{ 'blur-md hover:blur-none' if mod.isNSFW and not user else '' }}" data-lazy-src="{{ mod.imageUrl }}" alt="{{ mod.name }}">
        <div class="flex justify-center flex-wrap">
          <p class="text-base m-4" style="overflow-wrap: anywhere;">{{ mod.shortDescription }}</p>

        </div>
        <div class="flex justify-center flex-wrap">
          {% if mod.latestVersion %}
            <a class="btn btn-outline btn-accent m-4 table-auto" href="/mods/{{ mod.user.slug }}/{{ mod.slug }}/download/{{ mod.latestVersion }}" target="_blank">
              {{ _("direct_download") }}
            </a>
          {% else %}
            <a class="btn btn-outline m-4 table-auto btn-disabled" href="#!">
              {{ _("direct_download") }}
            </a>
          {% endif %}
        </div>
        <div class="flex justify-center flex-wrap">
          <span class="stat-desc text-accent">↗︎ {{ mod.downloads }}
            {{ _("downloads") }}</span>
          <span class="stat-desc text-secondary ml-2 follows-count">♥ {{ mod._count.favorites }}
            {{ _("favorites") }}</span>
        </div>
        {% if user and user.slug != mod.user.slug %}
          <div class="flex justify-center">
            <a class="mod-favorite m-2" href="#!" onclick="toggleFavorite(this, '{{ mod.mod_id }}')">
              <span id="modFavorite:{{ mod.mod_id }}:on" class="inline-flex items-baseline {{ '' if mod.isFavorite else 'hidden' }}">
                <svg width="1.6rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" fill="currentColor"></path>
                </svg>
                <span>{{ _("unfollow") }}</span>
              </span>
              <span id="modFavorite:{{ mod.mod_id }}:off" class="inline-flex items-baseline {{ 'hidden' if mod.isFavorite else '' }}">
                <svg width="1.6rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3C200.7 23 111.4 15.6 53.6 64.3C-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9c14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7c38.9-32.7 98.9-27.8 136.5 10.5l35 35.7l35-35.7c37.8-38.5 97.8-43.2 136.5-10.6c51.1 43.1 43.5 113.9 7.3 150.8z" fill="currentColor"></path>
                </svg>
                <span>{{ _("follow") }}</span>
              </span>
            </a>
          </div>
        {% endif %}
        {% if user and user.slug == mod.user.slug %}
          <div class="flex justify-center mt-4 flex-wrap">
            <a class="btn btn-outline m-2" onclick="openModal('#modalEdit')">{{ _("update_details") }}</a>
            <a class="btn btn-outline m-2" onclick="openModal('#modalReleaseVersion')">{{ _("release_version") }}</a>
          </div>
        {% endif %}
      </div>

      <div class="mod-downloads m-4">
        <pre id="modDescriptionTemplate" class="mod-description-template"></pre>
      </div>
      <div class="flex justify-center flex-wrap gap-4">
        {% for image in mod.images %}
          <img src="{{ image.url }}" alt="{{ mod.name }}">
        {% endfor %}
      </div>
      <div class="flex flex-col">
        <p class="text-3xl mb-8 mt-4">{{ _("version_history") }}</p>
        <table class="table">
          <thead>
            <tr>
              <th>{{ _("version") }}</th>
              <th>{{ _("changelog") }}</th>
              <th>{{ _("Downloads") }}</th>
            </tr>
          </thead>
          <tbody>
            {% for version in mod.versions %}
              <tr class="{{ 'bg-base-100' if loop.index == 1 else '' }}">
                <td>{{ version.version }}</td>
                <td>
                  <pre>{{ version.changelog | safe}}</pre>
                </td>
                <td>{{ version._count.downloads }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      {% if not user %}
        <div>
          <script 
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2799839819522052" 
            crossorigin="anonymous" 
            async></script>
          <ins class="adsbygoogle my-4 rounded-md" 
            style="display:block; text-align:center;" 
            data-ad-layout="in-article" 
            data-ad-format="fluid" 
            data-ad-client="ca-pub-2799839819522052" 
            data-ad-slot="7095594640"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      {% endif %}
    </div>
  </div>

  <dialog id="modalEdit" class="modal">
    <form class="modal-box" method="dialog">
      <h3 class="font-bold text-lg">{{ _("update_mod_details") }}</h3>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Name") }}</span>
        </label>
        <input id="mod-name" type="text" class="input input-bordered" name="name" placeholder="{{ _("mod_name_placeholder") }}" minlength="3" maxlength="64" value="{{ mod.name }}">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Short description") }}</span>
        </label>
        <input id="mod-shortDescription" type="text" class="input input-bordered" name="name" placeholder="{{ _("mod_shortDescription_placeholder") }}" minlength="10" maxlength="100" value="{{ mod.shortDescription }}">
      </div>
      <div class="form-control mb-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="md:m-4">
            <label class="label">
              <span class="label-text">{{ _("Mod description") }}</span>
              <span class="label-text-alt">
              ( <span id="mod-description-character-count">{{ mod.description | length }}</span> / 2000 {{ _("characters") }} )
            </span>
            </label>
            <textarea id="mod-description" class="textarea textarea-bordered mod-description-textarea" name="description" placeholder="{{ _("mod_description_placeholder") }}" minlength="10" maxlength="2000"></textarea>
          </div>
          <div class="md:m-4">
            <label class="label">
              <span class="label-text">{{ _("Mod description preview") }}</span>
            </label>
            <div id="mod-description-preview" class="mod-description-template" style="line-height: 1.3 !important;"></div>
          </div>
        </div>
      </div>
      <div class="form-control mt-2">
        <label class="label">
          <span class="label-text">{{ _("Thumbnail") }}</span>
        </label>
        <input id="mod-thumbnail" type="file" class="file-input file-input-bordered file-input-primary w-full" accept=".png,.jpeg,.jpg,.webp,.gif">
      </div>
      <label class="cursor-pointer label ml-2">
        <span class="label-text">{{ _("Update images") }}</span>
        <input id="mod-update-images" type="checkbox" class="toggle toggle-secondary ml-2" name="updateImages">
      </label>
      <div id="mod-update-images-container" class="hidden">
        <label class="cursor-pointer label ml-2">
          <span class="label-text">{{ _("New images") }}</span>
          <input id="mod-images" type="file" class="file-input file-input-bordered file-input-primary w-full" accept=".png,.jpeg,.jpg,.webp,.gif" multiple max="5">
        </label>
      </div>
      <div class="modal-action">
        <button class="btn" onclick="closeModal('#modalEdit')">{{ _("Close") }}</button>
        <button id="updateModBtn" class="btn btn-primary">{{ _("Update") }}</button>
      </div>
    </form>
  </dialog>

  <dialog id="modalReleaseVersion" class="modal">
    <form class="modal-box" method="dialog">
      <h3 class="font-bold text-lg">{{ _("Release version") }}</h3>
      <p class="py-4">{{ _("release_text") }} ({{ _("current_version") }}: {{ mod.latestVersion or "1.0.0" }})</p>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Mod file") }} (.zip)</span>
        </label>
        <input id="mod-file" type="file" class="file-input file-input-bordered file-input-secondary w-full" accept=".zip">
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">{{ _("Changelog") }}</span>
        </label>
        <textarea id="mod-changelog" class="textarea textarea-bordered h-24 w-full" name="changelog" placeholder="{{ _("mod_changelog_placeholder") }}" minlength="10" maxlength="2000"></textarea>
      </div>
      <div class="modal-action">
        <button class="btn" onclick="closeModal('#modalReleaseVersion')">{{ _("Close") }}</button>
        <button id="releaseVersionBtn" class="btn btn-secondary">{{ _("Release") }}</button>
      </div>
    </form>
  </dialog>

  <div id="sotf-mods-m" data-m="{{ mod | dump }}"></div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  <script src="/static/scripts/build.js" type="module"></script>
{% endblock %}