{% extends "layout.njk" %}

{% block body %}
    <form id="forgot-password-form" class="hero min-h-screen" action="/forgot-password" method="post">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">{{ _("forgot_password.title") }}</h1>
                <p class="py-6">
                    {{ _("forgot_password.description") }}<br>
                    <a href="/login" class="link link-primary">{{ _("forgot_password.back_to_login") }}</a>
                </p>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">{{ _("forgot_password.email") }}</span>
                        </label>
                        <input class="input input-bordered" type="email" name="email" placeholder="{{ _("forgot_password.enter_your_email") }}" required>
                    </div>
                    <div class="form-control mt-6">
                        <button id="submit-btn" class="btn btn-primary">{{ _("forgot_password.send_reset_link") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/scripts/forgot-password.js"></script>
{% endblock %}
