extends __layout

block head
  link(rel='stylesheet' href='/static/css/loader.css')

block body
  .hero.min-h-screen
    .hero-content.text-center
      .max-w-md
        h1.text-5xl.font-bold.mb-4
          img.m-auto(src='/static/images/redlogo.png' alt='logo')
        p.py-14
          | All mods on this site are made for Red Loader. It offers a rich featureset for modders and a smoother game integration for users. To get started either head over to the mod loader page for manual installation and documentation or visit the installer page for an easier almost automatic installation.
        .flex.justify-center.flex-wrap
          a.btn.btn-secondary(href="https://github.com/ToniMacaroni/RedLoader" target="_blank" style="min-width: 150px; margin: 8px;") Mod Loader
          a.btn.btn-secondary(href="https://github.com/ToniMacaroni/RedManager/releases" target="_blank" style="min-width: 150px; margin: 8px;") Installer

block scripts
  //- script(src='/static/scripts/main.js' type="module")
