{% extends "layout.njk" %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  <script src="/static/scripts/mod.js" type="module"></script>
{% endblock %}

{% block title %}
  <title>{{ mod.name }} - Sons of the Forest Mods</title>
{% endblock %}

{% block meta %}
  <meta content="{{ mod.name }}" property="og:title">
  <meta content="{{ mod.shortDescription }}" property="og:description">
  <meta content="{{ mod.imageUrl or 'https://files.sotf-mods.com/download/1722086199054_lowergraphicstool222_thumbnail.png' }}" property="og:image">
  <link type="application/json+oembed" href="https://sotf-mods.com/mods/{{ mod.user.slug }}/{{ mod.slug }}.json">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/mod.css">
  <link rel="stylesheet" href="/static/css/description.css">
{% endblock %}

{% block body %}
  {# Images Section #}
  <div class="flex flex-col-reverse lg:flex-row justify-center p-2 rounded-md">
    <!-- Main Image Section -->
    <div class="mod-main-image-container flex-grow flex justify-center items-center p-2 lg:h-[600px]">
      <figure>
        <img
          class="mod-main-image rounded-md shadow-lg max-h-[600px] object-fit"
          data-mod-image-index="0"
          src="{{ mod.imageUrl }}"
          alt="{{ mod.name }}"
          view-transition-name="{{ mod.slug }}_image_transition"/>
        {% for image in mod.images %}
          <img
            class="mod-main-image rounded-md shadow-lg max-h-[600px] object-fit hidden"
            data-mod-image-index="{{ loop.index }}"
            src="{{ image.url }}"
            alt="{{ mod.name }} - Image {{ loop.index }}"/>
        {% endfor %}
      </figure>
    </div>

    <!-- Thumbnail Section -->
    <div class="flex flex-row lg:flex-col justify-around gap-4 p-2 bg-base-200 rounded-lg shadow-lg">
      <figure class="max-w-[140px] max-h-[140px]">
        <img
          class="mod-image transition-all duration-300 hover:scale-105 hover:brightness-125 rounded-md cursor-pointer shadow-lg w-full h-full object-cover object-center"
          data-mod-image-index="0"
          src="{{ mod.imageUrl }}"
          alt="{{ mod.name }} - Thumbnail"
          view-transition-name="{{ mod.slug }}_image_transition"/>
      </figure>

      {% for image in mod.images %}
        <figure class="max-w-[140px] max-h-[140px]">
          <img
            class="mod-image transition-all duration-300 hover:scale-105 hover:brightness-125 rounded-md cursor-pointer shadow-lg w-full h-full object-cover object-center"
            data-mod-image-index="{{ loop.index }}"
            src="{{ image.url }}"
            alt="{{ mod.name }} - Image {{ loop.index }}"/>
        </figure>
      {% endfor %}
    </div>
  </div>

  {# Header & Download Section #}
  <div class="flex flex-wrap md:flex-nowrap justify-center p-2 rounded-md gap-4">
    <div class="flex flex-col flex-grow justify-center items-start gap-2 p-2">
      <p class="text-5xl" style="overflow-wrap: anywhere;" view-transition-name="{{ mod.slug }}_name_transition">{{ mod.name }}</p>
      <p class="text-base" style="overflow-wrap: anywhere;">{{ mod.shortDescription }}</p>
      <hr class="w-full">
      <div class="flex w-full justify-between items-center">
        {# Developer #}
        <a
        class="flex gap-1 items-center hover-underline-animation"
        aria-label="View {{ mod.user.name }}'s profile"
        href="/profile/{{ mod.user.slug }}">
          <div class="avatar">
            {# <div class="w-6 rounded-full">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
          </div> #}
            <svg class="w-6 h-6 text-[#02cdb3]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
            </svg>
          </div>
          <span class="text-sm">{{ mod.user.name }}</span>
        </a>

        {# Categories #}
        <div class="flex flex-wrap justify-end gap-4">
          {# Follows #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom following-tooltip-{{ mod.id }}" data-tip="{{ mod.favoritesCount }} {{ _('following') }}">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
            </svg>
            <span class="text-xs follows-count-{{ mod.id }}">{{ mod.favoritesCount }}</span>
          </div>
          {# Downloads #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ mod.downloads }} {{ _('downloads') }} ({{ mod.lastWeekDownloads }} {{ _('last week') }})">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
            </svg>
            <span class="text-xs">{{ mod.downloads }}</span>
          </div>
          {# Last updated #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ mod.lastReleasedAt }}">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
            </svg>
            <span class="text-xs">
              <span data-time-ago="{{ mod.lastReleasedAt }}"></span></span>
          </div>
          {# Category #}
          <div class="flex gap-1 items-center cursor-pointer tooltip tooltip-bottom" data-tip="{{ mod.category.name }}" onclick="redirectWithParams('?category={{ mod.category.slug }}')">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v3c0 .5523.44772 1 1 1h8v-8m-9 4v-4m0 4h9m-9-4V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v4M3 11h11m6.25 5c0 1.2426-1.0073 2.25-2.25 2.25M20.25 16c0-1.2426-1.0073-2.25-2.25-2.25M20.25 16H21m-3 2.25c-1.2426 0-2.25-1.0074-2.25-2.25M18 18.25V19m-2.25-3c0-1.2426 1.0074-2.25 2.25-2.25M15.75 16H15m3-2.25V13m-1.591 1.409-.5303-.5303m4.2426 4.2426-.5303-.5303m-3.182 0-.5303.5303m4.2426-4.2426-.5303.5303"/>
            </svg>
            <span class="text-xs">{{ mod.category.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center gap-2 p-2">
      {% if mod.latestVersion %}
        <a class="btn btn-outline btn-accent table-auto w-full" href="/mods/{{ mod.user.slug }}/{{ mod.slug }}/download/{{ mod.latestVersion }}" target="_blank">
          {{ _("Download") }}
          {{mod.name}}@{{ mod.latestVersion }}
        </a>
      {% else %}
        <a class="btn btn-outline table-auto w-full btn-disabled" href="#!">
          {{ _("download") }}
        </a>
      {% endif %}
      <a class="btn btn-outline btn-secondary table-auto w-full btn-disabled" href="/mods/{{ mod.user.slug }}/{{ mod.slug }}/download/{{ mod.latestVersion }}" target="_blank">
        {{ _("Install with Red Manager") }}
      </a>
    </div>
  </div>

  {# Description Section #}
  <div class="flex flex-wrap md:flex-nowrap justify-center p-2 rounded-md gap-4">
    <div class="flex w-full md:w-2/3 flex-col flex-grow justify-center items-start gap-2 ">
      {# Description #}
      <div class="flex flex-col p-4 gap-2 bg-base-100 rounded-xl w-full h-full">
        <pre id="modDescriptionTemplate" class="mod-description-template min-w-md"></pre>
      </div>
    </div>
    <div class="flex w-full md:w-1/3 flex-col justify-start items-start gap-4 p-4 bg-base-200 rounded-xl">
      <div class="mod-info">
        {% if not mod.isApproved %}
          <div class="flex justify-center">
            <p class="text-error text-xs mt-4">{{ _("pending_approval") }}</p>
          </div>
        {% endif %}
        <label class="swap">
          <input class="following-checkbox-{{ mod.id }}" type="checkbox" onchange="toggleFavorite(this, {{ mod.id }})"/>
          <div class="swap-on flex items-center gap-1">
            <svg width="1.2rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" fill="currentColor"></path>
            </svg>
            <span class="text-sm">{{ _("unfollow") }}</span>
          </div>
          <div class="swap-off flex items-center gap-1">
            <svg width="1.2rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3C200.7 23 111.4 15.6 53.6 64.3C-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9c14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7c38.9-32.7 98.9-27.8 136.5 10.5l35 35.7l35-35.7c37.8-38.5 97.8-43.2 136.5-10.6c51.1 43.1 43.5 113.9 7.3 150.8z" fill="currentColor"></path>
            </svg>
            <span class="text-sm">{{ _("follow") }}</span>
          </div>
        </label>
        {% if user and user.slug == mod.user.slug %}
          <div class="flex justify-center mt-4 flex-wrap">
            <a class="btn btn-outline m-2" onclick="openModal('#modalEdit')">{{ _("update_details") }}</a>
            <a class="btn btn-outline m-2" onclick="openModal('#modalReleaseVersion')">{{ _("release_version") }}</a>
          </div>
        {% endif %}
        {% if user and user.canApprove %}
          <div class="flex justify-center mt-4 flex-wrap">
            {% if mod.isApproved %}
              <button class="btn btn-outline m-2" onclick="unapprove(this)">{{ _("unapprove_mod") }}</button>
            {% else %}
              <button class="btn btn-outline m-2" onclick="approve(this)">{{ _("approve_mod") }}</button>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="flex flex-col">
        {# About #}
        <div class="collapse bg-base-200">
          <input type="checkbox" checked/>
          <div class="collapse-title text-xl font-medium">{{ _("About") }}</div>
          <div class="collapse-content">
            <div class="flex flex-col gap-2">
              <p class="text-lg">{{ mod.name }}
                <span class="text-sm text-gray-500">v{{ mod.latestVersion }}</span></p>
              <p class="text-sm text-gray-600">{{ mod.shortDescription }}</p>

              {# Dependencies #}
              {% if mod.dependencies %}
                <div class="flex justify-between">
                  <p class="text-sm">Dependencies</p>
                  <p class="text-sm">{{ mod.dependencies }}</p>
                </div>
              {% endif %}

              {# Type #}
              {% if mod.type %}
                <div class="flex justify-between">
                  <p class="text-sm">Type</p>
                  <p class="text-sm">{{ mod.type }}</p>
                </div>
              {% endif %}

              {# Has NSFW content? #}
              <div class="flex justify-between">
                <p class="text-sm">Has NSFW content?</p>
                <p class="text-sm">{{ _("Yes") if mod.isNSFW else _("No")}}</p>
              </div>

              {# Source URL #}
              {% if mod.sourceUrl %}
                <div class="flex justify-between">
                  <p class="text-sm">Source URL</p>
                  <p class="text-sm">{{ mod.sourceUrl }}</p>
                </div>
              {% endif %}

              {# Number of elements #}
              {% if mod.numberOfElements %}
                <div class="flex justify-between">
                  <p class="text-sm">Number of elements</p>
                  <p class="text-sm">{{ mod.numberOfElements }}</p>
                </div>
              {% endif %}

              {# BuildShare Version #}
              {% if mod.buildShareVersion %}
                <div class="flex justify-between">
                  <p class="text-sm">BuildShare Version</p>
                  <p class="text-sm">{{ mod.buildShareVersion }}</p>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
        {# Reviews #}
        <div class="collapse bg-base-200">
          <input type="checkbox" checked/>
          <div class="collapse-title text-xl font-medium">{{ _("Reviews") }}</div>
          <div class="collapse-content">
            <p class="text-gray-500">Coming soon</p>
          </div>
        </div>
        {# Version history #}
        <div class="collapse bg-base-200">
          <input type="checkbox" checked/>
          <div class="collapse-title text-xl font-medium">{{ _("version_history") }}</div>
          <div class="collapse-content">
            {% for version in mod.versions %}
              <div class="flex flex-col gap-2 p-4 rounded-md {{ 'bg-base-100' if loop.index == 1 else '' }}">
                <div class="flex justify-between">
                  <span>{{ version.version }}</span>
                  <div class="flex gap-2">
                    {# Downloads #}
                    <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ version._count.downloads }} {{ _('total downloads') }}">
                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
                      </svg>
                      <span class="text-xs">{{ version._count.downloads }}</span>
                    </div>
                    {# Last updated #}
                    <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ version.createdAt }}">
                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
                      </svg>
                      <span class="text-xs">
                        <span data-time-ago="{{ version.createdAt }}"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <ul>
                  {% for change in version
                    .changelog
                    .split('\n') %}
                    <li class="list-disc list-inside text-sm">{{ change }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% if not user %}
        <div>
          <script 
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2799839819522052" 
            crossorigin="anonymous" 
            async></script>
          <ins class="adsbygoogle my-4 rounded-md" 
            style="display:block; text-align:center;" 
            data-ad-layout="in-article" 
            data-ad-format="fluid" 
            data-ad-client="ca-pub-2799839819522052" 
            data-ad-slot="7095594640"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="flex flex-wrap md:flex-nowrap justify-center p-2 rounded-md gap-4">
    <div class="flex w-full md:w-2/3 flex-col flex-grow justify-center items-start gap-2 ">
      {# Comments #}
      <div class="collapse bg-base-100 rounded-xl">
        <input type="checkbox" checked />
        <div class="collapse-title font-semibold">Comments</div>
        <div class="collapse-content text-sm p-4">
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 items-end">
              <textarea id="mod-comments-textarea" class="textarea textarea-bordered w-full" placeholder="Comment"></textarea>
              <button id="mod-comments-send-btn" class="btn btn-soft">Send</button>
            </div>
            <div id="mod-comments-container">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full md:w-1/3 flex-col justify-start items-start gap-4 p-4 bg-base-200 rounded-xl">
    </div>
  </div>

  <dialog id="modalEdit" class="modal">
    <form class="modal-box" method="dialog">
      <h3 class="font-bold text-lg">{{ _("update_mod_details") }}</h3>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Name") }}</span>
        </label>
        <input id="mod-name" type="text" class="input input-bordered" name="name" placeholder="{{ _("mod_name_placeholder") }}" minlength="3" maxlength="64" value="{{ mod.name }}">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Short description") }}</span>
        </label>
        <input id="mod-shortDescription" type="text" class="input input-bordered" name="name" placeholder="{{ _("mod_shortDescription_placeholder") }}" minlength="10" maxlength="100" value="{{ mod.shortDescription }}">
      </div>
      <div class="form-control mb-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="md:m-4">
            <label class="label">
              <span class="label-text">{{ _("Mod description") }}</span>
              <span class="label-text-alt">
              ( <span id="mod-description-character-count">{{ mod.description | length }}</span> / 2000 {{ _("characters") }} )
            </span>
            </label>
            <textarea id="mod-description" class="textarea textarea-bordered mod-description-textarea" name="description" placeholder="{{ _("mod_description_placeholder") }}" minlength="10" maxlength="2000"></textarea>
          </div>
          <div class="md:m-4">
            <label class="label">
              <span class="label-text">{{ _("Mod description preview") }}</span>
            </label>
            <div id="mod-description-preview" class="mod-description-template" style="line-height: 1.3 !important;"></div>
          </div>
        </div>
      </div>
      <div class="form-control mt-2">
        <label class="label">
          <span class="label-text">{{ _("Thumbnail") }}</span>
        </label>
        <input id="mod-thumbnail" type="file" class="file-input file-input-bordered file-input-primary w-full" accept=".png,.jpeg,.jpg,.webp,.gif">
      </div>
      <label class="cursor-pointer label ml-2">
        <span class="label-text">{{ _("Has NSFW content") }}</span>
        <input id="mod-isNSFW" type="checkbox" class="toggle toggle-secondary ml-2" name="isNSFW" {{ "checked" if mod.isNSFW }}>
      </label>
      <label class="cursor-pointer label ml-2">
        <span class="label-text">{{ _("Update images") }}</span>
        <input id="mod-update-images" type="checkbox" class="toggle toggle-secondary ml-2" name="updateImages">
      </label>
      <div id="mod-update-images-container" class="hidden">
        <label class="cursor-pointer label ml-2">
          <span class="label-text">{{ _("Update images") }}</span>
          <input id="mod-images" type="file" class="file-input file-input-bordered file-input-primary w-full" accept=".png,.jpeg,.jpg,.webp,.gif" multiple max="5">
        </label>
      </div>
      <div class="modal-action">
        <button class="btn" onclick="closeModal('#modalEdit')">{{ _("Close") }}</button>
        <button id="updateModBtn" class="btn btn-primary">{{ _("Update") }}</button>
      </div>
    </form>
  </dialog>

  <dialog id="modalReleaseVersion" class="modal">
    <form class="modal-box" method="dialog">
      <h3 class="font-bold text-lg">{{ _("Release version") }}</h3>
      <p class="py-4">{{ _("release_text") }} ({{ _("current_version") }}: {{ mod.latestVersion or "1.0.0" }})</p>
      <div class="form-control">
        <label class="label">
          <span class="label-text">{{ _("Mod file") }} (.zip)</span>
        </label>
        <input id="mod-file" type="file" class="file-input file-input-bordered file-input-secondary w-full" accept=".zip">
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">{{ _("Changelog") }}</span>
        </label>
        <textarea id="mod-changelog" class="textarea textarea-bordered h-24 w-full" name="changelog" placeholder="{{ _("mod_changelog_placeholder") }}" minlength="1" maxlength="2000"></textarea>
      </div>
      <div class="modal-action">
        <button class="btn" onclick="closeModal('#modalReleaseVersion')">{{ _("Close") }}</button>
        <button id="releaseVersionBtn" class="btn btn-secondary">{{ _("Release") }}</button>
      </div>
    </form>
  </dialog>

  <div id="sotf-mods-m" data-m="{{ mod | dump }}"></div>
{% endblock %}