<div class="carousel w-full mx-auto rounded-lg overflow-hidden">
  <div id="slide1" class="carousel-item relative w-full flex items-center justify-center h-64">
    <div class="text-center text-white">
      <img src="https://github.com/ToniMacaroni/RedLoader/blob/rewrite/Resources/bg.png?raw=true" class="absolute top-0 left-0 w-full h-full object-cover"/>
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-20">
        <div class="flex flex-col items-center justify-center h-full">
          <h2 class="text-3xl font-bold">
            <span class="text-red-600">Red</span>Loader</h2>
          <p class="mt-2 text-md">The Modloader for <strong>Sons of the Forest</strong> mods.</p>
          <div class="flex items-center justify-center gap-4">
            <a href="https://github.com/ToniMacaroni/RedManager/releases/latest" target="_blank" class="mt-4 inline-block px-5 py-2 text-red-600 font-semibold rounded-lg hover:text-red-700">Install with Red Manager</a>
            <a href="https://github.com/ToniMacaroni/RedLoader" target="_blank" class="mt-4 inline-block px-5 py-2 text-gray-100 font-semibold rounded-lg shadow-md hover:text-gray-300">Red Loader Github</a>
            <a href="https://imaxel0.github.io/sotf-mods-tutorials" target="_blank" class="mt-4 inline-block px-5 py-2 text-purple-600 font-semibold rounded-lg hover:text-purple-700">Create your own mods</a>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>

  <div id="slide2" class="carousel-item relative w-full bg-gray-900 flex items-center justify-center h-64">
    <div class="text-center text-white">
      <h2 class="text-3xl font-bold">Giveaways Coming Soon!</h2>
      <p class="mt-2 text-lg">Stay tuned for exciting rewards and prizes.</p>
      {# <button href="#" class="mt-4 inline-block px-5 py-2 bg-white text-gray-900 font-semibold rounded-lg shadow-md hover:bg-gray-200" disabled>Learn More</button> #}
    </div>
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>