<article class="card md:card-side bg-base-100 shadow-xl w-full p-4 group">
  <a
    href="/mods/{{ mod.user.slug }}/{{ mod.slug }}"
    aria-label="View {{ mod.name }}">
    <figure class="relative object-fit w-64 h-44 min-w-64 min-h-44 max-w-64 max-h-44 bg-black rounded-lg mx-auto">
      <img
        src="{{ mod.imageUrl }}"
        alt="{{ mod.name }}"
        class="object-cover w-full h-full transition-all duration-300 hover:scale-105"
        loading="lazy"
        view-transition-name="{{ mod.slug }}_image_transition"/>
    </figure>
  </a>
  <div class="card-body px-4 py-2">
    <div class="flex flex-col h-full gap-2 justify-between">
      <div class="flex flex-col flex-grow gap-2">
        <div class="flex gap-1 items-center">
          <div class="flex flex-grow gap-1 items-end">
            <h2 class="card-title text-2xl font-bold" view-transition-name="{{ mod.slug }}_name_transition">{{ mod.name }}</h2>
            <span class="text-xs mb-1">{{ mod.latestVersion }}</span>
          </div>
          <div class="flex gap-1 items-center">
            <a
              href="/mods/{{ mod.user.slug }}/{{ mod.slug }}"
              aria-label="View {{ mod.name }}"
              class="transition-all duration-300 group-hover:text-[#02cdb3] hover:scale-125 group-hover:animate-pulse">
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"/>
              </svg>
            </a>
          </div>
        </div>
        <p class="text-sm">{{ mod.shortDescription }}</p>
      </div>
      <div class="flex gap-4 justify-between">
        {# Developer #}
        <a
          class="flex gap-1 items-center hover-underline-animation"
          aria-label="View {{ mod.user.name }}'s profile"
          href="/profile/{{ mod.user.slug }}">
          <div class="avatar">
            {% if mod.user.imageUrl %}
              <div class="w-6 rounded-full">
                <img src="{{ mod.user.imageUrl }}" alt="{{ mod.user.name }}" class="w-full h-full object-cover rounded-full"/>
              </div>
            {% else %}
              <svg class="w-6 h-6 text-[#02cdb3]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
              </svg>
            {% endif %}
          </div>
          <span class="text-sm">{{ mod.user.name }}</span>
        </a>
        {# Categories #}
        <div class="flex flex-wrap justify-end gap-4">
          {# Follows #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom following-tooltip-{{ mod.id }}" data-tip="{{ mod.favoritesCount }} {{ _('following') }}">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
            </svg>
            <span class="text-xs follows-count-{{ mod.id }}">{{ mod.favoritesCount }}</span>
          </div>
          {# Downloads #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ mod.downloads }} {{ _('downloads') }} ({{ mod.lastWeekDownloads }} {{ _('last week') }})">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
            </svg>
            <span class="text-xs">{{ mod.downloads }}</span>
          </div>
          {# Last updated #}
          <div class="flex gap-1 items-center tooltip tooltip-bottom" data-tip="{{ mod.lastReleasedAt }}">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
            </svg>
            <span class="text-xs">
              <span data-time-ago="{{ mod.lastReleasedAt }}"></span></span>
          </div>
          {# Category #}
          <div class="flex gap-1 items-center cursor-pointer tooltip tooltip-bottom" data-tip="{{ mod.category.name }}" onclick="redirectWithParams('?category={{ mod.category.slug }}')">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v3c0 .5523.44772 1 1 1h8v-8m-9 4v-4m0 4h9m-9-4V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v4M3 11h11m6.25 5c0 1.2426-1.0073 2.25-2.25 2.25M20.25 16c0-1.2426-1.0073-2.25-2.25-2.25M20.25 16H21m-3 2.25c-1.2426 0-2.25-1.0074-2.25-2.25M18 18.25V19m-2.25-3c0-1.2426 1.0074-2.25 2.25-2.25M15.75 16H15m3-2.25V13m-1.591 1.409-.5303-.5303m4.2426 4.2426-.5303-.5303m-3.182 0-.5303.5303m4.2426-4.2426-.5303.5303"/>
            </svg>
            <span class="text-xs">{{ mod.category.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "{{ mod.name }}",
    "applicationCategory": "GameMod",
    "operatingSystem": "Windows, Linux, macOS",
    "softwareVersion": "{{ mod.latestVersion }}",
    "author": {
      "@type": "Person",
      "name": "{{ mod.user.name }}",
      "url": "{{ PUBLIC_BASE_URL }}/profile/{{ mod.user.slug }}",
      "image": "{{ mod.user.imageUrl }}"
    },
    "downloadUrl": "{{ PUBLIC_BASE_URL }}/mods/{{ mod.user.slug }}/{{ mod.slug }}",
    "image": "{{ mod.imageUrl }}",
    "description": "{{ mod.shortDescription }}",
    "datePublished": "{{ mod.lastReleasedAt }}",
    "fileSize": "{{ mod.lastestVersionSize }}",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{ mod.averageRating }}",
      "reviewCount": "{{ mod.reviewsCount }}"
    },
    "offers": {
      "@type": "Offer",
      "price": "0.00",
      "priceCurrency": "USD"
    },
    "applicationSubCategory": "{{ mod.category.name }}"
  }
</script>