#alert-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: 40px;
    overflow: hidden;
    z-index: 9999;
    background: none;
    box-shadow: -3px 7px 9px 4px rgb(0 0 0 / 34%);
}
#alert-wrapper::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #02cdb3 !important;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #02cdb3 !important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
